.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-danger {
  color: #ed4014 !important;
}

.text-success {
  color: #28a745 !important;
}

.text-info {
  color: #0000ff !important;
}

.text-warning {
  color: #ffd700 !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

.d-row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.d-column-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-sa {
  justify-content: space-around;
}

.justify-content-sb {
  justify-content: space-between;
}

.f-w-wrap {
  flex-wrap: wrap;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.width-100 {
  width: 100% !important;
}

.line-field {
  margin-bottom: 10px;
  padding: 15px;
  border: none;
  border-top: 1px solid #bbb;

  legend {
    margin-left: 20px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
  }
}

/**
 * keyframes 动画规则
 * @param：动画名，动画内容
 */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

/**
 * animation，所有动画属性的简写属性，除了 animation-play-state 属性
 * @param：调用的动画名，动画持续时间，动画速度曲线，动画延迟时间（多久后开始执行动画），动画播放次数，动画是否在下一周期逆向地播放，对象动画时间之外的状态（对象在动画结束后的位置）
 */
@mixin animation($arguments) {
  -webkit-animation: $arguments;
  -moz-animation: $arguments;
  -ms-animation: $arguments;
  -o-animation: $arguments;
  animation: $arguments;
}

/**
 * transition，所有过渡属性的简写属性
 * @param：CSS属性名，持续时间，动画速度曲线，速度曲线，延迟时间
 */
@mixin transition($arguments) {
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -ms-transition: $arguments;
  -o-transition: $arguments;
  transition: $arguments;
}

/**
 * transform，2D 或 3D 转换
 * @param：none | transform-functions
 */
@mixin transform($arguments) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -ms-transform: $arguments;
  -o-transform: $arguments;
  transform: $arguments;
}

@media (max-width: 768px) {
  .text-left-xs {
    text-align: left !important;
  }

  .text-right-xs {
    text-align: right !important;
  }
}

@media (min-width: 768px) {
  .text-left-sm {
    text-align: left !important;
  }

  .text-right-sm {
    text-align: right !important;
  }
}

@media (min-width: 992px) {
  .text-left-md {
    text-align: left !important;
  }

  .text-right-md {
    text-align: right !important;
  }
}

@media (min-width: 1200px) {
  .text-left-lg {
    text-align: left !important;
  }

  .text-right-lg {
    text-align: right !important;
  }
}
