// common styles
.text-success {
  color: #19be6b !important;
}

.text-danger {
  color: #ed4014 !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.d-column-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.ml-5,
.mx-5 {
  margin-left: 5px !important;
}

.ml-10,
.mx-10 {
  margin-left: 10px !important;
}

.ml-15,
.mx-15 {
  margin-left: 15px !important;
}

.ml-20,
.mx-20 {
  margin-left: 20px !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mr-5,
.mx-5 {
  margin-right: 5px !important;
}

.mr-10,
.mx-10 {
  margin-right: 10px !important;
}

.mr-15,
.mx-15 {
  margin-right: 15px !important;
}

.mr-20,
.mx-20 {
  margin-right: 20px !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mt-5,
.my-5 {
  margin-top: 5px !important;
}

.mt-10,
.my-10 {
  margin-top: 10px !important;
}

.mt-15,
.my-15 {
  margin-top: 15px !important;
}

.mt-20,
.my-20 {
  margin-top: 20px !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.mb-5,
.my-5 {
  margin-bottom: 5px !important;
}

.mb-10,
.my-10 {
  margin-bottom: 10px !important;
}

.mb-15,
.my-15 {
  margin-bottom: 15px !important;
}

.mb-20,
.my-20 {
  margin-bottom: 20px !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pt-5,
.py-5 {
  padding-top: 5px !important;
}

.pt-10,
.py-10 {
  padding-top: 10px !important;
}

.pt-15,
.py-15 {
  padding-top: 15px !important;
}

.pt-20,
.py-20 {
  padding-top: 20px !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pb-5,
.py-5 {
  padding-bottom: 0 !important;
}

.pb-10,
.py-10 {
  padding-bottom: 10px !important;
}

.pb-15,
.py-15 {
  padding-bottom: 15px !important;
}

.pb-20,
.py-20 {
  padding-bottom: 20px !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pr-5,
.px-5 {
  padding-right: 5px !important;
}

.pr-10,
.px-10 {
  padding-right: 10px !important;
}

.pr-15,
.px-15 {
  padding-right: 15px !important;
}

.pr-20,
.px-20 {
  padding-right: 20px !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.pl-5,
.px-5 {
  padding-left: 5px !important;
}

.pl-10,
.px-10 {
  padding-left: 10px !important;
}

.pl-15,
.px-15 {
  padding-left: 15px !important;
}

.pl-20,
.px-20 {
  padding-left: 20px !important;
}

.width-100 {
  width: 100% !important;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

/**
 * @description: keyframes, animation rules
 * @params: animation-name、animation-content({keyframes-selector {css-styles;}})
 */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

/**
 * @description: animation, a shorthand property for all animation properties, except animation-play-state property
 * @params: animation-name、animation-duration、animation-timing-function、animation-delay、animation-iteration-count、animation-direction、animation-play-state
 */
@mixin animation($arguments) {
  -webkit-animation: $arguments;
  -moz-animation: $arguments;
  -ms-animation: $arguments;
  -o-animation: $arguments;
  animation: $arguments;
}

/**
 * @description: transition, a shorthand property for all transition properties
 * @params: transition-property、transition-duration、transition-timing-function、transition-delay
 */
@mixin transition($arguments) {
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -ms-transition: $arguments;
  -o-transition: $arguments;
  transition: $arguments;
}

/**
 * @description: transform, 2D or 3D transform
 * @params: none | transform-functions
 */
@mixin transform($arguments) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -ms-transform: $arguments;
  -o-transform: $arguments;
  transform: $arguments;
}

@media (max-width: 768px) {
  .text-left-xs {
    text-align: left !important;
  }

  .text-right-xs {
    text-align: right !important;
  }
}

@media (min-width: 768px) {
  .text-left-sm {
    text-align: left !important;
  }

  .text-right-sm {
    text-align: right !important;
  }
}

@media (min-width: 992px) {
  .text-left-md {
    text-align: left !important;
  }

  .text-right-md {
    text-align: right !important;
  }
}

@media (min-width: 1200px) {
  .text-left-lg {
    text-align: left !important;
  }

  .text-right-lg {
    text-align: right !important;
  }
}
