@import './common.scss';
@import './mixin.scss';

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

#app {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

// main-container global css
.app-container {
  padding: 20px;
}
